<div class="container padding-fix margin-fix">
  <h3>Carros</h3>
  <div class="list-group" *ngIf="carros$ | async as carros; else loading">
    <div
      class="d-flex w-100 justify-content-between margin-fix"
      *ngFor="let carro of carros"
    >
      <a
        [routerLink]="['/veiculos']"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <h5 class="mb-1">{{ carro.veiculo }} {{ carro.ano }}</h5>
        <small>{{ carro.created | date: 'dd/MM/yyyy' }}</small>

        <p class="mb-1">
          {{ carro.descricao }}
        </p>
        <small>{{ carro.marca }}</small>
      </a>
    </div>
  </div>
  <ng-template #loading>
    <span>Carregando Lista de Carros...</span>
  </ng-template>
</div>
